body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./image/etc/wall-paper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  box-sizing: border-box;
}

#root {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  padding: 0;
  list-style-type: none;
}

input, button {
  outline: none;
  border: none;
}